.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../../images/bg-listras.jpg');
}

.form__button{
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  height: 3.2rem;
  border-radius: .2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--cinza-medio);
  font-family: var(--fonte-titulo);
  border: 0;
}

.form__button:hover{
  cursor: pointer;
  background-color: var(--preto);
  color: var(--cinza-medio);
  transition: .2s;
}

.form__textbox{
  padding: .3rem .3rem;
  height: 3rem;
  position: relative;
  z-index: 1;
  border-radius: .2rem;
  overflow: hidden;
  margin: 0.5rem 0;
}

.form__input{
  height: 3rem;
  width: 100%;
  color: var(--preto);
  opacity: .99;
  box-sizing: border-box;
  font-size: 2rem;
  outline: none;
  border: none;
  z-index: 2;
  padding: .3rem .3rem;
  border-radius: .2rem;
}

.form__textarea{
  padding: .3rem .3rem;
  height: 12rem;
  position: relative;
  z-index: 1;
  border-radius: .2rem;
  overflow: hidden;
  margin: 0.5rem 0;
  resize: none;
}

.form__inputarea{
  height: 12rem;
  width: 100%;
  color: var(--preto);
  opacity: .99;
  box-sizing: border-box;
  font-size: 2rem;
  outline: none;
  border: none;
  z-index: 2;
  padding: .3rem .3rem;
  border-radius: .2rem;
  resize: none;
}

.form__input:focus ~.form__border{
  width: 100%;
  height: 100%;
}

.form__inputarea:focus ~.form__borderarea{
  width: 100%;
  height: 100%;
}

.form__border{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  opacity: .8;
  background: var(--preto);
  z-index: -1;
  border: none;
  transition: height 0.3s, width 0.3s 0.1s;
}

.form__borderarea{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  opacity: .8;
  background: var(--preto);
  z-index: -1;
  border: none;
  transition: height 0.3s, width 0.3s 0.1s;
}


.form__label{
  font-weight: 500;
  margin-top: 1.8rem;
  margin-left: .2rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.form__panel{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  background: var(--cinza-escuro);
  color: var(--branco);
}

.form__title{
  text-transform: uppercase;
  text-align: center;
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  font-family: var(--fonte-titulo);
  font-weight: 600;
  }

@media screen and (min-width: 0) {
  .form__button {
      font-size: 1rem;
  }
  .form__input {
    font-size: 1rem;
}
.form__label {
  font-size: .8rem;
}
.form__textarea {
  font-size: 1rem;
}
.form__title {
  font-size: 1.6rem;
}
}
@media screen and (min-width: 768px) {
  .form__button {
      font-size: 1.2rem;
  }
  .form__input {
    font-size: 1.2rem;
}
  .form__label {
  font-size: 1rem;
}
  .form__textarea {
  font-size: 1.2rem;
}
  .form_title {
  font-size: 2.2rem;
}
}