.cartoons__button {
  font-size: 1rem;
  display: block;
  font-weight: 700;
  width: 100%;
  align-self: center;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--preto);
  color: var(--cinza-claro);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cartoons__button:hover{
  transition: .2s;
  background-color: var(--cinza-medio);
  color: var(--preto);
  font-size: 1.2rem;
}

.cartoons__img{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  padding: 2rem;
}

.cartoons__price {
  display: flex;
  font-weight: 700;
  font-size: 1.8rem;
  justify-content: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.cartoons__text {
  font-weight: 700;
  display: flex;
  color: var(--fonte-cinza);
  justify-content: center;
}

.cartoons__title{
  display: flex;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-color: var(--cinza-medio);
  align-items: initial;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--fonte-titulo);
  padding: .75rem 0;
  }

  .services{
    background: var(--cinza-escuro);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__cartoons{
  display: block;
}

.services__description{
  margin-top: 1.6rem;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}

.services__description + .services__description{
  margin-top: 1rem;
}

.services__title{
  text-transform: uppercase;
  text-align: center;
  margin-top: 2.2rem;
  font-family: var(--fonte-titulo);
  font-weight: 600;
  }

@media screen and (min-width: 0) {
  .cartoons {
      display: flex;
      flex-direction: column;
      color: var(--cinza-escuro);
      background-color: var(--branco);
      border-radius: 5px;
      box-shadow: 0 2px 10px 2px #00000010;
  
      margin: 2.5rem;
  }

  .cartoons__title {
    font-size: 1.4rem;
}

.services__title {
  font-size: 1.6rem;
}
}


@media screen and (min-width: 768px) {
  .cartoons_title {
      font-size: 2.2rem;
  }

  .services_title {
    font-size: 2.2rem;
}
}

@media screen and (min-width: 1024px) {
  .services__cartoons {
      display: flex;
      flex-direction: row;
  }

}